/* Start Variables */
:root {
    --main-color: #10cab7;
    --sec-color: #2c4755;
    --section-background: #f6f6f6;
}

/* End Variables */
/* Start Global Rules */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.parent {
    background-color: #eee;
}

.container {
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Start Media Queries */
/* Small */
@media (max-width: 991px) {
    .container {
        width: 100%;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Start Special Component */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;

}

@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

/* End Special Component */
/* Start Header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;

}

.header .links:hover ul {
    display: block;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
    background-color: var(--main-color);
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;

}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    display: none;
    z-index: 999999;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}


.header .links ul a {
    text-decoration: none;
    display: block;
    padding: 15px;
    transition: .3s;
    color: #333;
}

.header .links ul a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End Header */
/* Start Landing Section */
.landing {
    background-image: url(../images/pexels-pixabay-355747.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* End Landing Section */
/* Start Features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    font-size: 45px;
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* End Features */
/* Start Services */
.services {

    padding: 60px 0;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 30px;
}

@media (width <=767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 45px;
}

.services .services-content .srv .text {
    flex: 1;
    /* ^^^^!!!!!!!!!NEED SEARCH !!!!!!!!!!^^^^^ */
}

.services .services-content .srv h3 {
    margin-top: 0;
}

.services .services-content .srv p {
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: "";
    position: absolute;

    background-color: var(--sec-color);
    width: 100px;
    height: calc(100% + 100px);
    right: 0;
    top: -50px;
    z-index: -1;
}

.services .services-content .image img {
    width: 260px;
}

@media (width <=1199px) {
    .image-single {
        display: none;
    }
}

/* End Services */
/* Start Portfolio */
.portfolio {
    padding: 60px 0;
    background-color: var(--section-background);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

@media (width<=768px) {
    .portfolio .portfolio-content .card .info {
        text-align: center;
    }
}

.portfolio .portfolio-content .card .info h3 {
    padding: 20px;
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

/* End Portfolio */
/* Start About */
.about {
    padding: 60px 0;
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (width <=991px) {
    .about .about-content {
        flex-direction: column;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (width <=991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    top: -20px;
    right: -150px;
    z-index: -1;
}

@media (width <=991px) {
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

@media (width <=991px) {
    .about .about-content .text {
        text-align: center;
    }
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 2;

}

.about .about-content .text hr {
    width: 60%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .textp:last-child {
    line-height: 2;
    color: #777;
}

/* End About */
/* Start Contact */
.contact {
    padding: 60px 0;
    background-color: var(--section-background);
}

.contact .info {
    padding: 60px 0;
    text-align: center;
}

.contact .info .label {
    font-size: 40px;
    font-weight: 800;
    color: var(--sec-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    font-size: 40px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

@media (width <=767px) {

    .contact .info .link,
    .contact .info .label {
        font-size: 25px;
    }
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--sec-color);
}

/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--sec-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

/* End Footer */